[submodule "dep/imgui"]
	path = dep/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dep/glad"]
	path = dep/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "dep/googletest"]
	path = dep/googletest
	url = https://github.com/google/googletest.git
